
.main-header{
  background-color: black;
  display:flex;
  height: 80px;
  width: 100%;   
}
.row{
  color:white;
  margin-left: 50px;
  padding-top: 15px; 
}
.heading{
  color:white;
  margin-left: 40px;
  padding-top: 15px;
}
.na{
  color:white;
  text-decoration: none;
}.App {
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.style{
  display: flex;
}
.information{
  display:flex;
  flex-direction: column;
  width:100%;
  justify-content: center;
  align-items: center;
}
.information input{
  width:300px;
  height:50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 2px;
}
 button{
  width:320px;
  height:50px;
  margin-top:15px;
  background-color:darkgray;
}
button:hover{
  cursor: pointer;
}
.products{
  display:flex;
  align-items: center;
  flex-direction:column;
  width:100%; 
}
.display{
  width:600px;
  height:230px;
  border:1px solid black;
  background-color:darkseagreen;
  margin:5px;
  padding:10px;
  font-family:'Courier New', Courier, monospace;
}

.display h4{
  margin:10px;

}
